.footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: #0f0f2069;
    box-shadow: 0 0 2px 2px #2271D1;
}

.logofooter{
    justify-self: center;
    height: 20px;
}

.firma{
    font-family: Arial;
    position: absolute;
    left: 2em;
    align-self: center;
    font-size: 14px;
    color: aliceblue;
}